li{
    list-style: none;

}
a{
    text-decoration: none;
}
header{
    background-color: #000;
    padding: 20px;
    overflow: hidden;
}
.logo img {
    width: 15%;
    float: left;
}

.menu {
    width: 85%;
    float: left;
}
.menu ul li {
    display: inline-block;
    padding: 0px 21px;
}

.menu ul {
    float: right;
}

.menu ul li a {
    color: #fff;
    font-size: 20px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 23%;
  }
  
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  section#gallry h1 {text-align: center;font-size: 32px;color: tomato;}
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
